<h3>These are the Holding Events!</h3>

<h4>Hold New Event</h4>
<form action="/events" method="POST">
  <input type="text" name="event[name]" value="name" />
  <input type="date" name="event[date]" value="date" />
  <input type="submit" value="Hold" />
</form>


<table>
  <tr><th>Event</th><th>Date</th><th>ID</th><th>Detail</th></tr>

  <% @events.each do |event| %>
  <tr>
    <td><%= event.name%></td>
    <td><%= event.date%></td>
    <td><%= event.id%></td>
    <td><a href="/event/<%= event.id%>">View</a></td>
  </tr>
  <%end%>
  
</table>

<a href="/">Back to Home Page.</a>
<h1> </h1>